<%- include("./layout/header.ejs") %>
    <main>
        <h1>Register page</h1>
        <form action="/register" method="post">
            <div>
                <label for="userName">User Name</label>
                <input type="text" name="name">
            </div>
            <div>
                <label for="userEmail">Email</label>
                <input type="email" name="username">
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" name="password">
            </div>
            <button type="submit">Register</button>
        </form>
    </main>
    <%- include("./layout/footer.ejs") %>