<%- include("./layout/header.ejs") %>
    <main>
        <h1>Login page</h1>
        <form action="/login" method="post">
            <div>
                <label for="userEmail">Email</label>
                <input type="email" name="username">
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" name="password">
            </div>
            <button type="submit">login</button>
        </form>
        <a href="/auth/google">login with google</a>
    </main>
    <%- include("./layout/footer.ejs") %>